* {
  margin: 0;
  border: 0;
  padding: 0;
}
body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* border: 1px solid #fff; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  font-family: Copperplate;
  color: #fff;
  font-size: 3rem;
}
a {
  color: inherit;
}

.container {
  /* border: 1px solid #fff; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-col {
  /* border: 1px solid #fff; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.item {
  /* border: 2px solid #fff; */
  text-align: center;
  padding: 1rem;
}

.title {
  font-size: 4rem;
}
.canvas {
  margin: 0;
  border: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
}
